<%= form_for @player do |form| %>
  <h1>Create New Player</h1>

  <div>
    <%= form.label :name, "Player Name" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :email, "Player Email" %>
    <%= form.email_field :email %>
  </div>

  <div>
    <%= form.submit "Create Player" %>
  </div>
<% end %>